name: base_env
channels:
  - conda-forge
  - defaults
dependencies:
{%if reweighing or dir or lfr%}
  - aif360
{%endif%}
{%if exponentiated_gradient or grid_search%}
  - fairlearn
{%endif%}
  - pandas
  - python=3.9
{%if demv%}
  - imbalanced-learn
{%endif%}
  - scikit-learn
  - scipy