name: base_env
channels:
  - conda-forge
  - defaults
dependencies:
{%if exponentiated_gradient or grid_search%}
  - fairlearn
{%endif%}
{%if excel%}
  - openpyxl
{%endif%}
  - pandas
  - python=3.9
{%if demv%}
  - imbalanced-learn
{%endif%}
{%if chart%}
  - matplotlib
  - seaborn
{%endif%}
{%if parquet%}
  - pyarrow
{%endif%}
  - pip
  - scikit-learn
  - scipy
  - pip:
    {%if hdf5%}
    - tables
    {%endif%} 
    - aif360[DisparateImpactRemover,Reductions]