{% if cross_validation %}
{# cross validation case#}
{% include 'components/bias/cross_validation.py.jinja'%}
{% else %}
{# no cross validation case#}
from collections import OrderedDict
{% include 'components/bias/transform_data.py.jinja' %}

X_train = dataset_train.features
y_train = dataset_train.labels.ravel()

{% include 'components/select_model.py.jinja' %}

{% include 'components/bias/fairness_metrics.py.jinja'%}

{% if wae_metrics or wysiwyg_metrics %}
{% if statistical_parity %}
print("Statistical parity: %.4f" % metrics['Statistical parity'])
{% endif %}
{% if disparate_impact %}
print("Disparate impact: %.4f" % metrics['Disparate impact'])
{% endif %}
{% if equal_opportunity %}
print("Equal opportunity: %.4f" % metrics['Equal opportunity'])
{% endif %}   
{% if equal_accuracy %}
print("Equal accuracy: %.4f" % metrics['Equal accuracy'])
{% endif %}
{% endif %}
print("Model score: %.4f" % metrics['Model score'])
{% endif %}