{% if reweighing %}
dataset_train, dataset_test = data.split([{{train_size | default(0.8, true)}}], shuffle=True)
rw = Reweighing(unprivileged_group, privileged_group)
dataset_train = rw.fit_transform(dataset_train)
{% elif dir %}
{% include 'components/bias/dir_transformer.py.jinja' %}
{% elif sampling or DEMV%}
sampler = Sampler(round_level={{round_level | default(1,true)}})
sampler.fit_transform(dataset_train)
{% endif %}