    {%if csv%}
    data = pd.read_csv(args.dataset
    {%endif%}
    {%if text%}
    data = pd.read_fwf(args.dataset
    {%endif%}
    {%if json%}
    data = pd.read_json(args.dataset
    {%endif%}
    {%if excel%}
    data = pd.read_excel(args.dataset
    {%endif%}
    {%if xml%}
    data = pd.read_xml(args.dataset
    {%endif%}
    {%if html%}
    data = pd.read_html(args.dataset
    {%endif%}
    {%if parquet%}
    data = pd.read_parquet(args.dataset
    {%endif%}
    {%if hdf5%}
    data = pd.read_hdf(args.dataset
    {%endif%}
    {%if has_header == 'false'%}
    , header=None
    {%endif%}
    {%if index_col%}
    , index_col={{index_col}}
    {%endif%}
    )
