import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
{%if exponentiated_gradient or grid_search%}
from fairlearn.reductions import BoundedGroupLoss, GridSearch, ExponentiatedGradient, DemographicParity, ZeroOneLoss
{%endif%}
from aif360.datasets import BinaryLabelDataset
{%if reweighing%}
from aif360.sklearn.preprocessing import Reweighing
{%endif%}
{%if dir%}
from aif360.algorithms.preprocessing import DisparateImpactRemover
{%endif%}
{%if lfr%}
from aif360.algorithms.preprocessing import LFR
{%endif%}
from copy import deepcopy
from scipy import stats
{%if blackbox%}
from balancers import MulticlassBalancer, BinaryBalancer
{%endif%}
{%if demv%}
from demv import DEMV
{%endif%}
{%if adversarial_debiasing%}
from aif360.sklearn.inprocessing import AdversarialDebiasing
import tensorflow.compat.v1 as tf
{%endif%}
{%if gerry_fair_classifier%}
from aif360.algorithms.inprocessing import GerryFairClassifier
{%endif%}
{%if meta_fair_classifier%}
from aif360.algorithms.inprocessing import MetaFairClassifier
{%endif%}
{%if prejudice_remover%}
from aif360.algorithms.inprocessing import PrejudiceRemover
{%endif%}
{%if post_processing%}
from aif360.sklearn.postprocessing import PostProcessingMeta
{%endif%}
{%if calibrated_eo%}
from aif360.sklearn.postprocessing import CalibratedEqualizedOdds
{%endif%}
{%if reject_option_classifier%}
from aif360.sklearn.postprocessing import RejectOptionClassifierCV
{%endif%}
{%if mlp__classifier%}
from sklearn.neural_network import MLPClassifier
{%endif%}
from metrics import *
