import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix
{%if f1_score %}
from sklearn.metrics import f1_score
{%endif%} 
{%if accuracy%}
from sklearn.metrics import accuracy_score
{%endif%}
{%if zero_one_loss%}
from sklearn.metrics import zero_one_loss
from fairlearn.metrics import MetricFrame
{%endif%}
{%if exponentiated_gradient or grid_search%}
from fairlearn.reductions import BoundedGroupLoss, GridSearch, ExponentiatedGradient, DemographicParity, ZeroOneLoss
{%endif%}
from aif360.datasets import BinaryLabelDataset
{%if reweighing%}
from aif360.sklearn.preprocessing import Reweighing
{%endif%}
{%if dir%}
from aif360.algorithms.preprocessing import DisparateImpactRemover
{%endif%}
{%if lfr%}
from aif360.algorithms.preprocessing import LFR
{%endif%}
from copy import deepcopy
from scipy import stats
{%if blackbox%}
from balancers import MulticlassBalancer, BinaryBalancer
{%endif%}
{%if demv%}
from demv import DEMV
{%endif%}
{%if adversarial_debiasing%}
from aif360.sklearn.inprocessing import AdversarialDebiasing
import tensorflow.compat.v1 as tf
{%endif%}